@import "./src/static/styles/Variables";

.drinks__container {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
	height: 100%;
}

.drinks__button_list {
	display: flex;
	flex-wrap: wrap;
  	background-color: $main;
	list-style-type: none;
	transition: all .5s;
}

.drinks__button {
	padding: 8px;
	transition: all .5s;
	cursor: pointer;
	font-family: $font;

	&:hover {
		background-color: $active;
		transition: all .5s;
	}
}
