@import "./src/static/styles/Variables";

.sidebar__container {
	background-color: $black;
	display: flex;
	min-height: calc(100vh - 16px);
	min-width: 200px;
	flex-direction: column;
}

.sidebar__link {
	padding: 8px 16px;
	text-decoration: none;
	font-family: $font;
	font-size: 20px;
	font-weight: 500;
	color: $white;
	transition: all .5s;
	overflow: hidden;
  	text-overflow: ellipsis;
	&:hover {
		background-color: $active;
		transition: all .5s;
	}
}

.active {
	background-color: $active;
	transition: all .5s;
}

@media screen and (max-width: $md) {
	.sidebar__container {
		min-width: 100px;
	} 
}
